[projects]
    graphql
    c1
    rdp
    res.Theme

[graphql]
    path="$HOME/GitHub/create-one-api/graphql-api/"
    cmd="npm run serve-fast"

[c1]
    path="$HOME/GitHub/create-one/"
    cmd="npm run serve-dev-local"

[rdp]
    path="$HOME/GitHub/res-data-platform/"

[res.Theme]
    path="$HOME/GitHub/res.Theme3/"

[personal-site]
    path="$HOME/GitHub/personal-site/"
    cmd="nvm use && yarn dev"
    storybook="nvm use && yarn storybook"
    test="nvm use && yarn test:watch"
